/* Buckler, Craig. How to Create a CSS3-Only Vertical Accordion Using the :target Selector, 
	URL: https://www.sitepoint.com/css3-vertical-accordion-using-target-selector/ */

.accordion {
	margin-top: 30px;
	margin-bottom: 50px;

	&__item {
		display: block;
		height: 5vh;
		margin-bottom: 15px;
		overflow: hidden;

		h2 {
			font-size: 1.222rem;
			font-weight: $semibold;

			a {
				display: block;
				color: $blue;
				text-decoration: none;
			}
		}
	}

	&__item:target {
		height: 35vh;

		h2 {
			font-size: 1.556rem;
		}
	}

	.accordion__item, .accordion__item h2 {
		transition: all 1s ease;
	}
}